<div class='noset'>
  <button class="btn <% if @r == 1 %> btn-success <% end %>" onclick="location.href='/admin/cpdm_advertisements'">전체보기</button>&nbsp;&nbsp;
  <button class="btn <% if @r == 2 %> btn-success <% end %>" onclick="location.href='/admin/cpdm_advertisements?type=1'">진행중</button>&nbsp;&nbsp;
  <button class="btn <% if @r == 3 %> btn-success <% end %>" onclick="location.href='/admin/cpdm_advertisements?type=0'">종료/대기중</button>&nbsp;&nbsp;
</div>


<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contract</th>
    <th>Remain</th>
    <th>Unit Price</th>
    <th>Pay Type</th>
    <th>Date</th>
    <th>Priority</th>
    <th>Url</th>
    <th>Length</th>
    <th>Cor Name</th>
    <th> </th>
  </tr>
  <% for cpdm_advertisement in @cpdm_advertisements %>
    <tr>
      <td><%= cpdm_advertisement.id %></td>
      <td><%= cpdm_advertisement.ad_name %></td>
      <td><%= cpdm_advertisement.contract %></td>
      <td><%= cpdm_advertisement.remain %></td>
      <td><%= cpdm_advertisement.basic_show_price %></td>
      <td><%= cpdm_advertisement.pay_type %> (<%=cpdm_advertisement.pay_kind %>)</td>
      <td><%= cpdm_advertisement.start_date %> ~ 
      <%= cpdm_advertisement.end_date %></td>
      <td><%= cpdm_advertisement.priority %></td>
      <td><%= cpdm_advertisement.url %></td>
      <td><%= cpdm_advertisement.length %></td>
      <td><%= @cpdm_cor_name.find_by_id(cpdm_advertisement.cli_id).cor_name %></td>
      <td><%= link_to "Edit", edit_admin_cpdm_advertisement_path(cpdm_advertisement), :class=>"btn btn-warning" %>
      <%#= link_to "Destroy", [:admin, cpdm_advertisement], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Cpdm Advertisement", new_admin_cpdm_advertisement_path %></p>
