<%= form_for [:admin, @word] do |f| %>
  <%#= f.error_messages %>

  <div class="control-group">
    <label class="control-label">name</label>
    <div class="controls">
      <label><%= f.text_field :name, :readonly => true %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">mean</label>
    <div class="controls">
      <label><%= f.text_field :mean %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">mean</label>
    <div class="controls">
      <label><%= f.text_field :phonetics %></label>
    </div>
  </div>
          
  <div class="control-group">
    <label class="control-label">korean_Example</label>
    <div class="controls">
      <label><%= f.text_field :example_ko %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">english_Example</label>
    <div class="controls">
      <label><%= f.text_field :example_en %></label>
    </div>
  </div>
           
  <div class="control-group">
    <label class="control-label">Image</label>
    <div class="controls">
      <label><%= f.file_field :image %></label> or
      <label><%= f.text_field :remote_image_url %></label>
    </div>
    <%= image_tag f.object.image_url(:thumb) if f.object.image.present? %>
  </div>
           
           
  </div>
  <p><%= f.submit %></p>
<% end %>
