<%= form_for [:admin, @cpd_advertisement] do |f| %>
  <% if @cpd_advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpd_advertisement.errors.count, "error") %> prohibited this cpd_advertisement from being saved:</h2>
      <ul>
      <% @cpd_advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">name</label>
    <div class="controls">
      <label><%= f.text_field :ad_name %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">client</label>
    <div class="controls">
      <label><%= f.select :cli_id, @client_arr %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">ad_type</label>
    <div class="controls">
      <label>
        <%= f.radio_button :ad_type, 101, :checked=>f.object.ad_type ==101 || f.object.ad_type == nil  %> 이미지
      </label>
      <label>
        <%= f.radio_button :ad_type, 102, :checked =>f.object.ad_type ==102  %> 쿠폰
      </label>
      <label>
        <%= f.radio_button :ad_type, 103, :checked => f.object.ad_type == 103 %> 페북공유하기
      </label>
    </div>
  </div>
  <div class="control-group coupon" style="<% if f.object.ad_type != 102 %> display:none; <% end %>">
    <label class="control-label">coupon_free_info</label>
    <div class="controls">
      <table>
        <tr> 
          <td>name</td>
          <td><input type='text' name='c_name' style='width:280px;'<% if @cpd_coupon.present? && @cpd_coupon.name.present? %> value='<%=@cpd_coupon.name%>' <% end %>/></td>
        </tr>
        <tr>
          <td>place</td>
          <td><input type='text' name='c_place' style='width:280px;' <% if @cpd_coupon.present? && @cpd_coupon.place.present? %> value='<%=@cpd_coupon.place%>' <% end %>/></td>
        </tr>
        <tr>
          <td>valid_start</td>
          <td><input type='text' name='c_valid_start' class='date' style='width:280px;' <% if @cpd_coupon.present? && @cpd_coupon.valid_start.present? %> value='<%=@cpd_coupon.valid_start%>' <% end %>/></td>
        </tr>
        <tr>
          <td>valid_end</td>
          <td><input type='text' name='c_valid_end' class='date' style='width:280px;' <% if @cpd_coupon.present? && @cpd_coupon.valid_end.present? %> value='<%=@cpd_coupon.valid_end%>' <% end %>/></td>
        </tr>
        <tr>
          <td>bar_code</td>
          <td><input type='text' name='c_bar_code' style='width:280px;' <% if @cpd_coupon.present? && @cpd_coupon.bar_code.present? %> value='<%=@cpd_coupon.bar_code%>' <% end %>/></td>
        </tr>
        <tr>
          <td>image</td>
          <td>
            <input type='file' name='c_image' style='width:280px;'/><br/>
            <% if @cpd_coupon.present? && @cpd_coupon.image.present? %>
              <img src='<%=@cpd_coupon.image_url%>'/>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>information</td>
          <td>
            <textarea name='c_information' style='width:280px;height:65px;'><% if @cpd_coupon.present? && @cpd_coupon.information.present? %><%=@cpd_coupon.information%><% end %></textarea>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="control-group facebook" style="<% if f.object.ad_type != 103 %> display:none; <% end %>">
    <label class="control-label">facebook_info</label>
    <div class="controls">
      <table>
        <tr>
          <td>단가</td>
          <td><input type='text' name='f_price' style='width:280px;'<% if @cpd_advertisement.present? && @cpd_advertisement.action_price.present? %> value='<%=@cpd_advertisement.action_price%>' <% end %>/></td>
        </tr>
        <tr>
          <td>리워드</td>
          <td><input type='text' name='f_reward' style='width:280px;'<% if @cpd_advertisement.present? && @cpd_advertisement.reward.present? %> value='<%=@cpd_advertisement.reward%>' <% end %>/></td>
        </tr>
        <tr>
          <td>포인트</td>
          <td><input type='text' name='f_point' style='width:280px;'<% if @cpd_advertisement.present? && @cpd_advertisement.point.present? %> value='<%=@cpd_advertisement.point%>' <% end %>/></td>
        </tr>
        <tr>
          <td>링크</td>
          <td><input type='text' name='f_link' style='width:280px;'<% if @cpd_advertisement.present? && @cpd_advertisement.link.present? %> value='<%=@cpd_advertisement.link%>' <% end %>/></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">contract</label>
    <div class="controls">
      <label><%= f.text_field :contract %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">reamain</label>
    <div class="controls">
      <%= f.text_field :remain %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">basic_show_price</label>
    <div class="controls">
      <%= f.text_field :basic_show_price %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">pay_type</label>
    <div class="controls">
      <label>
        <%= f.radio_button :pay_type, 1, :checked=>f.object.pay_type ==1 || f.object.pay_type == nil  %> 선불제
      </label>
      <label>
        <%= f.radio_button :pay_type, 2, :checked =>f.object.pay_type ==2  %> 후불제
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Date</label>
    <div class="controls">
        <%= f.text_field :start_date, :value => "#{@cpd_advertisement.start_date}", :class => "date" %> ~
        <%= f.text_field :end_date, :value => "#{@cpd_advertisement.end_date}", :class=> "date" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">front_image</label>
    <div class="controls">
      <label><%= f.file_field :front_image %></label>
    <%= image_tag f.object.front_image_url if f.object.front_image.present? %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">back_image</label>
    <div class="controls">
      <label><%= f.file_field :back_image %></label>
    <%= image_tag f.object.back_image_url if f.object.back_image.present? %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">priority</label>
    <div class="controls">
      <label>
        <%= f.radio_button :priority, 1, :checked=>  f.object.priority ==1  %>1 
      </label>
      <label>
        <%= f.radio_button :priority, 2, :checked=>  f.object.priority ==2  %>2 
      </label>
      <label>
        <%= f.radio_button :priority, 3, :checked=>  f.object.priority ==3  %>3 
      </label>
      <label>
        <%= f.radio_button :priority, 4, :checked=>  f.object.priority ==4 ||  f.object.priority == nil  %>4 
      </label>
      <label>
        <%= f.radio_button :priority, 5, :checked=>  f.object.priority ==5  %>5 
      </label>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("input[name='cpd_advertisement[ad_type]']").change(function() {
    if($(this).val() == '102') {
      $('.coupon').show();
    } else {
      $('.coupon').hide();
    }
    if($(this).val() == '103') {
      $('.facebook').show();
    } else {
      $('.facebook').hide();
    }
  })
});
</script>
