<div class='noset'>
  <button class="btn <% if @r == 1 %> btn-success <% end %>" onclick="location.href='/admin/cpx_advertisements'">전체보기</button>&nbsp;&nbsp;
  <button class="btn <% if @r == 2 %> btn-success <% end %>" onclick="location.href='/admin/cpx_advertisements?type=1'">진행중</button>&nbsp;&nbsp;
  <button class="btn <% if @r == 3 %> btn-success <% end %>" onclick="location.href='/admin/cpx_advertisements?type=0'">종료/대기중</button>&nbsp;&nbsp;
</div>


<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Ad_type</th>
    <th>Contract</th>
    <th>Remain</th>
    <th>Unit Price</th>
    <th>Pay Type</th>
    <th>Date</th>
    <th>Priority</th>
    <th>TargetUrl</th>
    <th>ConfirmUrl</th>
    <th>Reward</th>
    <th>Point</th>
    <th>n_question</th>
    <th>Cor Name</th>
    <th> </th>
  </tr>
  <% for cpx_advertisement in @cpx_advertisements %>
    <tr>
      <td><%= cpx_advertisement.id %></td>
      <td><%= cpx_advertisement.ad_name %></td>
      <td><%= "#{cpx_advertisement.ad_type} (#{cpx_advertisement.kind})" %></td>
      <td><%= cpx_advertisement.contract %></td>
      <td><%= cpx_advertisement.remain %></td>
      <td><%= cpx_advertisement.basic_show_price %></td>
      <td><%= cpx_advertisement.pay_type %> (<%=cpx_advertisement.pay_kind %>)</td>
      <td><%= cpx_advertisement.start_date.to_date %> ~ <%= cpx_advertisement.end_date.to_date %></td>
      <td><%= cpx_advertisement.priority %></td>
      <td><%= cpx_advertisement.target_url %></td>
      <td><%= cpx_advertisement.confirm_url %></td>
      <td><%= if cpx_advertisement.reward !=nil
                cpx_advertisement.reward
              else
                0
              end%></td>
      <td><%= if cpx_advertisement.point != nil
                cpx_advertisement.point
              else
                0
              end%></td>
      <td><%= cpx_advertisement.n_question %></td>
      <td><%= @cpx_cor_name.find_by_id(cpx_advertisement.cli_id).cor_name %></td>
      <td><%= link_to "Edit", edit_admin_cpx_advertisement_path(cpx_advertisement), :class => "btn btn-warning" %></td>
      <%#= link_to "Destroy", [:admin, cpx_advertisement], :confirm => 'Are you sure?', :method => :delete %>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Cpx Advertisement", new_admin_cpx_advertisement_path %></p>
