<% title "Admin/Cpx Advertisement" %>

<p>
  <strong>ad_type:</strong>
  <%= @cpx_advertisement.ad_type %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= @cpx_advertisement.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @cpx_advertisement.end_date %>
</p>
<p>
  <strong>Contract:</strong>
  <%= @cpx_advertisement.contract %>
</p>
<p>
  <strong>Remain:</strong>
  <%= @cpx_advertisement.remain %>
</p>
<p>
  <strong>Priority:</strong>
  <%= @cpx_advertisement.priority %>
</p>
<p>
  <strong>Url:</strong>
  <%= @cpx_advertisement.url %>
</p>
<p>
  <strong>Name:</strong>
  <%= @cpx_advertisement.ad_name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_cpx_advertisement_path(@cpx_advertisement) %> |
  <%= link_to "Destroy", [:admin, @cpx_advertisement], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_cpx_advertisements_path %>
</p>
