<% count = 0 %>
<h3>안녕하세요? <%=@user.name%>님</h3>

<h4 style='margin-top:20px;'>광고리스트</h4>
<table class="table table-hover">
  <tr>
    <th style='width:50px;text-align:center;'>No</th>
    <th style='width:100px;text-align:center;'>광고타입</th>
    <th style='text-align:center;'>광고이름</th>
  </tr>
  <% @cpd.each do |a| %>
    <tr class='pointer' data-type='cpd' data-id='<%=a.id%>'>
      <td style='text-align:center;'><%="#{count+=1}"%></td>
      <td><%=a.kind%></td>
      <td><%=a.ad_name%></td>
    </tr>
  <% end %>
  <% @cpdm.each do |a| %>
    <tr class='pointer' data-type='cpdm' data-id='<%=a.id%>'>
      <td style='text-align:center;'><%="#{count+=1}"%></td>
      <td>CPDM</td>
      <td><%=a.ad_name%></td>
    </tr>
  <% end %>
  <% @cpx.each do |a| %>
    <tr class='pointer' data-type='cpx' data-id='<%=a.id%>'>
      <td style='text-align:center;'><%="#{count+=1}"%></td>
      <td><%=a.kind%></td>
      <td><%=a.ad_name%></td>
    </tr>
  <% end %>
</table>

<%= link_to "logOut", logout_path %>

<script>
$(document).ready(function(){
  $("tr.pointer").click(function() {
    location.href='/client/detail?type='+$(this).data('type')+'&id='+$(this).data('id');
  });
});
</script>

