
<button onclick="location.href='/admin/users';" class='btn btn-primary' style='margin-top:15px;'>← HOME</button>
<br/>
<br/>
<button class="btn <% if @r == 1 %> btn-success <% end %>" onclick="location.href='/admin/insight/dau_analysis'">최근 1주일</button>&nbsp;&nbsp;
<button class='btn <% if @r == 2 %> btn-success <% end %>' onclick="location.href='/admin/insight/dau_analysis?recent=month'">최근 1달</button>&nbsp;&nbsp;
<button class='btn <% if @r == 3 %> btn-success <% end %>' onclick="location.href='/admin/insight/dau_analysis?recent=all'">전체기간</button>
직접입력&nbsp;&nbsp;
<input type='text' name='date1' class='date' style='width:80px;margin:0;'/> ~ <input type='text' name='date2' class='date' style='width:80px;margin:0;'/>&nbsp;&nbsp;
<button id='date_btn' class='btn'>선택완료</button>
<br/><br/><br/>

<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>날짜</th>
    <th style='text-align:center;'>오늘 학습한 유저(명)</th>
    <th style='text-align:center;'>스테이지 클리어 횟수</th>
    <th style='text-align:center;'>복습 횟수</th>
    <th style='text-align:center;'>총 학습 횟수</th>
  </tr>
  <% for row in @logs %>
  <tr>
    <td style='text-align:center;'><%=row[:day]%></td>
    <td style='text-align:center;'><%=row[:daily_user]%></td>
    <td style='text-align:center;'><%=row[:daily_test]%></td>
    <td style='text-align:center;'><%=row[:review_count]%></td>
    <td style='text-align:center;'><%=row[:test_count]%></td>
  </tr>
  <% end %>
</table>

<script>
$(document).ready(function() {
  $("#date_btn").click(function(){
    if($("input[name=date1]").val() == "") {
      alert("날짜를 입력해주세요");
      $("input[name=date1]").focus();
      return false;
    }
    if($("input[name=date2]").val() == "") {
      alert("날짜를 입력해주세요");
      $("input[name=date2]").focus();
      return false;
    }
    if(!$("input[name=date1]").val().match(/[0-9]{4}-[0-9]{2}-[0-9]{2}/)) {
      alert("날짜포맷을 확인해주세요. (ex : 2013-12-25)");
      $("input[name=date1]").focus();
      return false;
    }
    if(!$("input[name=date2]").val().match(/[0-9]{4}-[0-9]{2}-[0-9]{2}/)) {
      alert("날짜포맷을 확인해주세요. (ex : 2013-12-25)");
      $("input[name=date2]").focus();
      return false;
    }

    location.href="/admin/insight/dau_analysis?start_date="+$("input[name=date1]").val()+"&end_date="+$("input[name=date2]").val();
  });
});
</script>
