
<button onclick="location.href='/admin/users';" class='btn btn-primary' style='margin-top:15px;'>← HOME</button>

<h3>Last Week Rank</h3>

<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>카테고리</th>
    <th style='text-align:center;'>순위</th>
    <th style='text-align:center;'>닉네임</th>
    <th style='text-align:center;'>전화번호</th>
    <th style='text-align:center;'>이메일</th>
  </tr>
  <% for w_row in @w_logs %>
  <tr>
    <td style='text-align:center;'><%=w_row[:category]%></td>
    <td style='text-align:center;'><%=w_row[:rank]%></td>
    <td style='text-align:center;'><%=w_row[:nickname]%></td>
    <td style='text-align:center;'><%=w_row[:mobile]%></td>
    <td style='text-align:center;'><%=w_row[:email]%></td>
  <% end %>
  </tr>
</table>
<br/>
<br/>

