
<button onclick="location.href='/admin/users';" class='btn btn-primary' style='margin-top:15px;'>← HOME</button>

<h3>User</h3>

<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>페북 가입수</th>
    <th style='text-align:center;'>이메일 가입수</th>
    <th style='text-align:center;'>교차 가입수</th>
    <th style='text-align:center;'>총 가입수</th>
    <th style='text-align:center;'>총 탈퇴수</th>
    <th style='text-align:center;'>현재 회원수</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@fb_user%></td>
    <td style='text-align:center;'><%=@email_user%></td>
    <td style='text-align:center;'><%=@cross_user%></td>
    <td style='text-align:center;'><%=@total_user%></td>
    <td style='text-align:center;'><%=@inactive_user%></td>
    <td style='text-align:center;'><%=@current_user%></td>
</table>
<br/>
<br/>
<h4>성별</h4>

<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>남성</th>
    <th style='text-align:center;'>여성</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@boy%></td>
    <td style='text-align:center;'><%=@girl%></td>
  </table>
  <br/>
  <br/>
<h4>연령대</h4>
<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>미취학아동(~7)</th>
    <th style='text-align:center;'>초등(8~10)</th>
    <th style='text-align:center;'>초등(11~13)</th>
    <th style='text-align:center;'>중학생(14~16)</th>
    <th style='text-align:center;'>고등학생(17~19)</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@year_1%></td>
    <td style='text-align:center;'><%=@year_2%></td>
    <td style='text-align:center;'><%=@year_3%></td>
    <td style='text-align:center;'><%=@year_4%></td>
    <td style='text-align:center;'><%=@year_5%></td>
  </table>
  <br/>
  <br/>
<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>20대초반(20~24)</th>
    <th style='text-align:center;'>20대후반(25~29)</th>
    <th style='text-align:center;'>30대(30~39)</th>
    <th style='text-align:center;'>40대(40~49)</th>
    <th style='text-align:center;'>50대이상(50~)</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@year_6%></td>
    <td style='text-align:center;'><%=@year_7%></td>
    <td style='text-align:center;'><%=@year_8%></td>
    <td style='text-align:center;'><%=@year_9%></td>
    <td style='text-align:center;'><%=@year_10%></td>
  </table>
  <br/>
  <br/>
<h4>지역</h4>
<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>서울</th>
    <th style='text-align:center;'>부산</th>
    <th style='text-align:center;'>대구</th>
    <th style='text-align:center;'>인천</th>
    <th style='text-align:center;'>광주</th>
    <th style='text-align:center;'>대전</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@n_address[0]%></td>
    <td style='text-align:center;'><%=@n_address[1]%></td>
    <td style='text-align:center;'><%=@n_address[2]%></td>
    <td style='text-align:center;'><%=@n_address[3]%></td>
    <td style='text-align:center;'><%=@n_address[4]%></td>
    <td style='text-align:center;'><%=@n_address[5]%></td>
  </table>
  <br/>
<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>울산</th>
    <th style='text-align:center;'>세종</th>
    <th style='text-align:center;'>강원</th>
    <th style='text-align:center;'>경기</th>
    <th style='text-align:center;'>경남</th>
    <th style='text-align:center;'>경북</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@n_address[6]%></td>
    <td style='text-align:center;'><%=@n_address[7]%></td>
    <td style='text-align:center;'><%=@n_address[8]%></td>
    <td style='text-align:center;'><%=@n_address[9]%></td>
    <td style='text-align:center;'><%=@n_address[10]%></td>
    <td style='text-align:center;'><%=@n_address[11]%></td>
  </table>
<table class='table table-hover' style='text-align:center;'>
  <tr>
    <th style='text-align:center;'>전남</th>
    <th style='text-align:center;'>전북</th>
    <th style='text-align:center;'>제주</th>
    <th style='text-align:center;'>충남</th>
    <th style='text-align:center;'>충북</th>
    <th style='text-align:center;'>기타</th>
  </tr>
  <tr>
    <td style='text-align:center;'><%=@n_address[12]%></td>
    <td style='text-align:center;'><%=@n_address[13]%></td>
    <td style='text-align:center;'><%=@n_address[14]%></td>
    <td style='text-align:center;'><%=@n_address[15]%></td>
    <td style='text-align:center;'><%=@n_address[16]%></td>
    <td style='text-align:center;'><%=@n_address[17]%></td>
  </table>

