<%= form_for [:admin, @user] do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
      <label><%= f.text_field :email %></label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">facebook</label>
    <div class="controls">
      <label><%= f.text_field :facebook %></label>
    </div>
  </div>
<!--
  <div class="control-group">
    <label class="control-label">PassWord</label>
    <div class="controls">
      <label><%= f.password_field :password %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">PassWord confirmation</label>
    <div class="controls">
      <label><%= f.password_field :password_confirmation %></label>
    </div>
  </div>
  -->
  <div class="control-group">
    <label class="control-label">NickName</label>
    <div class="controls">
      <label><%= f.text_field :nickname %></label>
    </div>
  </div>
 
  <div class="control-group">
    <label class="control-label">Recommender</label>
    <div class="controls">
      <label><%= f.text_field :recommend %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Sex</label>
    <div class="controls">
      <label><%= f.radio_button :sex, 1, :checked => f.object.sex  == 1 || f.object.sex == nil  %>Man</label>
      <label><%= f.radio_button :sex, 2, :checked => f.object.sex  == 2 %>Woman</label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">BirthDay</label>
    <div class="controls">
      <label><%= f.text_field :birth, :class=>"date"%></label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Address</label>
    <div class="controls">
      <label><%= f.text_field :address %></label>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Mobile</label>
    <div class="controls">
      <label><%= f.text_field :mobile %></label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Interest</label>
    <div class="controls">
      <label><%= f.text_field :interest %></label>
    </div>
  </div>

 <!-- <div class="control-group">
    <label class="control-label">Mobile</label>
    <div class="controls">
      <label><%#= f.text_field :mobile %></label>
    </div>
  </div>
-->
  <div class="control-group">
    <label class="control-label">Last test</label>
    <div class="controls">
      <label><%= f.text_field :last_test, :class => "date" %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Admin</label>
    <div class="controls">
      <label><%= f.check_box :is_admin %>Admin Permission</label>
    </div>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

