<div class='noset'>
  <xmp>오늘 빈 페이지 : <%=@today%>   내일의 빈 페이지 : <%=@tomorrow%></xmp>
  <button class="btn <% if @r == 1 %> btn-success <% end %>" onclick="location.href='/admin/screen_locks'">전체보기</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 2 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=412'">짭영제출문제(412)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 3 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=413'">모의고사(413)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 4 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=421'">오늘의인강(421)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 5 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=422'">짤강(422)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 6 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=431'">헤럴드뉴스(431)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 7 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=432'">데일리뉴스(432)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 8 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=433'">수능정보(433)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 9 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=434'">웹툰(434)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 10 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=441'">짭영캠페인(441)</button>&nbsp;&nbsp;
  <button class='btn <% if @r == 11 %> btn-success <% end %>' onclick="location.href='/admin/screen_locks?group=442'">광고(442)</button><br/><br/>
</div>
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Group</th>
    <th>Ad_type</th>
    <th>Contract</th>
    <th>Remain</th>
    <th>Unit Price</th>
    <th>Pay Type</th>
    <th>Date</th>
    <th>Priority</th>
    <th>TargetUrl</th>
    <th>Reward</th>
    <th>Point</th>
    <th>Cor Name</th>
    <th> </th>
  </tr>
  <% for lock_advertisement in @lock_advertisements %>
    <tr>
      <td><%= lock_advertisement.id %></td>
      <td><%= lock_advertisement.ad_name %></td>
      <td><%= lock_advertisement.kind %></td>
      <td><%= lock_advertisement.ad_kind %></td>
      <td><%= lock_advertisement.contract %></td>
      <td><%= lock_advertisement.remain %></td>
      <td><%= lock_advertisement.basic_show_price %></td>
      <td><%= lock_advertisement.pay_type %> (<%=lock_advertisement.pay_kind %>)</td>
      <td><%= lock_advertisement.start_date.to_date %> ~ <%= lock_advertisement.end_date.to_date %></td>
      <td><%= lock_advertisement.priority %></td>
      <td><%= lock_advertisement.target_url %></td>
      <td><%= if lock_advertisement.reward !=nil
                lock_advertisement.reward
              else
                0
              end%></td>
      <td><%= if lock_advertisement.point != nil
                lock_advertisement.point
              else
                0
              end%></td>
      <td><%= @lock_cor_name.find_by_id(lock_advertisement.cli_id).cor_name %></td>
      <td><%= link_to "Edit", edit_admin_screen_lock_path(lock_advertisement), :class => "btn btn-warning" %></td>
    </tr>
  <% end %>
</table>

<%#= link_to "Destroy", admin_screen_lock_path, :confirm => 'Are you sure?', :method => :delete %>
<p><%= link_to "New Admin/Lock Advertisement", new_admin_screen_lock_path %></p>
