<%= form_for [:admin, @app_introduce_video] do |f| %>
  <div class="control-group">
    <label class="control-label">url</label>
    <div class="controls">
      <label><%= f.text_field :url , :style => 'width:450px'%></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">video</label>
    <div class="controls">
      <label><%= f.file_field :video %></label>
      <%= video_tag f.object.url if f.object.url? %>
    </div>
  </div>
  <p><%= f.submit %></p>
 
<% end %>
